body{
    background: url('https://github.com/blacksempai/robojoke-website-example/blob/main/background.jpg?raw=true');
    height: 100vh;
}
header{
    background: url('https://raw.githubusercontent.com/blacksempai/robojoke-website-example/e7ae56742ea193f552d3e29227e563f87b0d248e/header.svg');
    background-size: cover;
    background-position: bottom;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main{
    background: url('https://raw.githubusercontent.com/blacksempai/robojoke-website-example/e7ae56742ea193f552d3e29227e563f87b0d248e/main.svg');
    background-size: cover;
    background-position: top;
    height: 60vh;
    overflow: hidden;
    width: 100%;
}
.logoImg{
    max-height: 120px;
    margin-top: -50px;
}
.title{
    margin-top: -10px;
    color: whitesmoke;
    font-family:fantasy;
    letter-spacing: 10px;
    font-size: 80px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 50%));
    grid-template-rows: repeat(2, minmax(100px, 50%));
    gap: 20px;
    margin-top: 50px;
    overflow: auto;
}
.rate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.like{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dislike{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.dislike_value{
    margin-left: 400px;
   
}
.joke_block{
    text-align: center;
    background-color: rgb(190, 112, 15);
    margin: 0px 10px;
    border-radius: 10px;
}
button{
    background-color: transparent;
    border: none;
}
button:hover{
    background: #ffffff99 radial-gradient(circle, transparent 1%, #ffffff99 1%) center/1500%;
    color: #4e4e4e;
    border-radius: 10px;
}
button:active{
    background-color: #1646FF;
    background-size: 100%;
    transition: all 0s;
}
.rate_value{
    font-size: 18px;
    font-weight: bold;

}
.text{
    margin-left: 10px;
    color: whitesmoke;
    
}
.subtitle{
    padding: 40px 0px 0px 10px;
    color: whitesmoke;
    font-size: 24px;
}

